* {
    font-size: 0.9rem;
}

.button-label{
    cursor: pointer;
    padding: 4px;
    border-radius: 8px;
    background: #444;
}

#playback_control_box{
    max-width: 10rem;
}

.channel-name {
    field-sizing: fixed;
    overflow-wrap: anywhere;
    width: 15%;
    min-width: 3rem;
}

.volume-control {
    field-sizing: fixed;
    width: 60%;
}

.instrument-select {
    font-size: inherit;
    field-sizing: fixed;
    width: 25%;
    min-width: 5rem;
}

.instrument-option { 
    width: 20%;
    overflow-wrap: anywhere;
}